{% extends 'crud/base.html.twig' %}

{% import 'crud/macros.html.twig' as m %}

{% block title %}
	{{ 'service_request'|trans }}
{% endblock %}

{% block crud_content %}
	<h1>{{ 'service_request'|trans }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>{{ 'crud.entity.default.id'|trans }}</th>
				<td>{{ service_request.id }}</td>
			</tr>
			<tr>
				<th>{{ 'crud.entity.default.room_number'|trans }}</th>
				<td>{{ service_request.roomNumber }}</td>
			</tr>
			<tr>
				<th>{{ 'crud.entity.default.created_by'|trans }}</th>
				<td>{{ service_request.createdBy }}</td>
			</tr>
			<tr>
				<th>{{ 'crud.entity.default.schedule_at'|trans }}</th>
				<td>{{ service_request.scheduleAt ? service_request.scheduleAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>{{ 'crud.entity.default.status'|trans }}</th>
				<td>{{ service_request.status.value }}</td>
			</tr>
			<tr>
				<th>{{ 'crud.entity.default.created_at'|trans }}</th>
				<td>{{ service_request.createdAt ? service_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>{{ 'crud.entity.default.updated_at'|trans }}</th>>
				<td>{{ service_request.updatedAt ? service_request.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>


	<div
		class="d-flex justify-content-between align-items-center p-1 w-100">
		<!-- Left buttons -->
		<div class="d-flex gap-2">
			{{ m.edit_button('crud_service_request_edit', service_request.id) }}
			{{ m.back_button('crud_service_request_index') }}
		</div>

		<!-- Right buttons -->
		<div class="d-flex gap-2">
			{{ m.delete_button('crud_service_request_delete',service_request.id) }}
		</div>
	</div>

{% endblock %}
