{% extends 'crud/base.html.twig' %}

{% import 'crud/macros.html.twig' as m %}

{% block title %}
	{{ 'guests'|trans }}
{% endblock %}

{% block crud_content %}
	<h1 data-test="guest-index">{{ 'guests'|trans }}</h1>

	<table class="table">
		<thead>
			<tr>
				<th>{{ 'crud.entity.default.id'|trans }}</th>
				<th>{{ 'crud.entity.default.name'|trans }}</th>
				<th>{{ 'crud.entity.default.room_number'|trans }}</th>
				<th>{{ 'crud.entity.default.session_token'|trans }}</th>
				<th>{{ 'crud.entity.default.checked_in_at'|trans }}</th>
				<th>{{ 'crud.entity.default.check_out_at'|trans }}</th>
				<th>{{ 'crud.entity.default.created_at'|trans }}</th>
				<th>{{ 'crud.entity.default.updated_at'|trans }}</th>
				<th>{{ 'crud.table.header.actions'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for guest in guests %}
				<tr data-test="guest-row-{{ guest.id }}">
					<td>{{ guest.id }}</td>
					<td>{{ guest.name }}</td>
					<td>{{ guest.roomNumber }}</td>
					<td>{{ guest.sessionToken }}</td>
					<td>{{ guest.checkedInAt ? guest.checkedInAt|date('Y-m-d H:i') : '' }}</td>
					<td>{{ guest.checkOutAt ? guest.checkOutAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ guest.createdAt ? guest.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ guest.updatedAt ? guest.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						{{ m.list_action_button('crud_guest_show',{'id': guest.id},'crud.show') }}
						{{ m.list_action_button('crud_guest_edit',{'id': guest.id},'crud.edit') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">{{ 'crud.table.body.no_records_found'|trans }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ m.new_button('crud_guest_new') }}

{% endblock %}
