{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<style>
    .logo-hover { transition: all 0.3s ease; }
    .logo-hover:hover { content: url('{{ asset('images/logo-hover.png') }}'); }
</style>


<div class="container d-flex align-items-center" style="height: 70vh;">

    <a href="{{ path('web_home') }}">
        <img src="{{ asset('images/logo.png') }}" alt="Logo" class="img-fluid logo-hover" style="max-height: 70vh;">
    </a>

    <div class="text-left md:text-left">
        <h2 class="text-3xl md:text-4xl font-bold mb-2">
            {{ 'home_welcome_title'|trans }}
        </h2>
        <p class="text-xl text-gray-700" style="line-height:1.4;">
            {{ 'home_welcome'|trans|nl2br }}
        </p>
        <p class="text-lg text-gray-700 mb-2" style="line-height:1.4;">
            {{ 'home_welcome_message'|trans|nl2br }}
        </p>
        <p class="text-xl text-gray-700" style="line-height:1.4;">
            <i>{{ 'home_welcome_subtitle_note'|trans|nl2br }}</i>
        </p>
    </div>
</div>
{% endblock %}
